body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    pointer-events: none;
    transition: transform 0.2s linear;
}
